<!doctype html>

<html>
<head>

    <title>Register</title>
</head>
<body>
    <a href="~">Index'</a>


    <div>
        <form>
            <div>
                <label for="Nom">Nom: </label>
                    <input type="text" name="Nom" />                
            </div>
            <div>
                <label for="Prenom">Prenom: </label>
                <input type="text" name="Prenom" />
            </div>
            <div>
                <label for="Email">Email: </label>
                <input type="text" name="Email" />
            </div>
            <div>
                <label for="Passwd">Password: </label>
                <input type="password" name="Passwd" />
            </div>
            <div>
                <label for="Confirm">Confirmation: </label>
                <input type="password" name="Confirmation" />
            </div>
            <input type="submit" name="Register" />
        </form>

    </div>


</body>







</html>