<!doctype html>

<html>
<head>

    <title>Contact</title>
</head>
<body>
    <a href="~" >Page D'accueil'</a>


    <div>
        <article>
            <adress>
                la casa de Dany
            </adress>

        </article>

    </div>


</body>







</html>