<!doctype html>

<html>
<head>

    <title>Index</title>
</head>
<body>
    <a href="~/Auth">login</a>
    <a href="~/Auth/register" >Register</a>
    <h1>Page D'accueil</h1>

    <div>
        <article>
            <header>
                site de gestion de contact
                <p>
                    Bienvenue sur notre site de gestion de contact
                </p>
            </header>
        </article>

    </div>


</body>







</html>